{% extends "base.html" %}

{% block content %}
<h1>Send Health Alert</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.region.label(class="form-control-label") }}
        {{ form.region(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.message.label(class="form-control-label") }}
        {{ form.message(class="form-control") }}
    </div>
    {{ form.submit(class="btn btn-primary") }}
</form>

<!-- Button to navigate back to the dashboard -->
<a href="{{ url_for('main.dashboard') }}" class="btn btn-secondary mt-3">Back to Dashboard</a>
{% endblock %}